.g-upper-timeunit {
    background-color: rgb(243 244 246) !important;
}

.g-timeunit {
    background-color: rgb(243 244 246) !important;
}

.g-gantt-bar-handle-left,
.g-gantt-bar-handle-right {
    opacity: 0 !important;
}

.g-gantt-bar-label>* {
    font-size: 12px;
}

.g-gantt-row>.g-gantt-row-bars-container {
    border-top-color: #e5e7eb !important;
    border-bottom-color: #e5e7eb !important;
}