<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title is defined %}
        <title>{{ title }}</title>
    {% endif %}

    {% if style_url is defined %}
        <link rel="stylesheet" href="{{ style_url }}">
    {% endif %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}

    <table>
        <thead>
            <tr>
                <td>
                    <div class="header-space">&nbsp;</div>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <main>
                        {% block content %}{% endblock %}
                    </main>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td>
                    <div class="footer-space">&nbsp;</div>
                </td>
            </tr>
        </tfoot>
    </table>

    {% block footer %}{% endblock %}
</body>
</html>
